@import "styles/base.scss";

.buttonContainer {
  display: flex;
  overflow-x: auto;
  padding-bottom: 0.5rem;

  .allBtn {
    border-radius: 0.313rem;
    border: 1px solid $color-blue-hawkes;
    font-size: 1rem;
    height: 2.25rem;
    line-height: 1.172rem;
    margin-top: 1rem;
    padding: 0.5rem 0.813rem;
  }

  .incompleteBtn {
    border-radius: 0.313rem;
    border: 1px solid $color-blue-hawkes;
    font-size: 1rem;
    height: 2.25rem;
    line-height: 1.172rem;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 1rem;
    padding: 0.5rem 0.813rem;
  }

  .completeBtn {
    border-radius: 0.313rem;
    border: 1px solid $color-blue-hawkes;
    font-size: 1rem;
    height: 2.25rem;
    line-height: 1.172rem;
    margin-top: 1rem;
    padding: 0.5rem 0.813rem;
  }

  .selectedBtn {
    background-color: $color-blue-lavender;
    color: $color-white;
  }
}

@media only screen and (min-width: $breakpoint-sm) {
  .buttonContainer {
    margin-top: 1.75rem;
    padding-bottom: 0;
  }
}
