@import "styles/base.scss";

.textArea {
  border-radius: 0.313rem;
  border: none;
  color: $grey-color1;
  font-size: 1rem;
  line-height: 1.172rem;
  outline: 3px solid $violet-color1;
  padding: 0.25rem 0.5rem;
  padding: 0;
  width: calc(100% - 1rem);
}

.btnContainer {
  margin-top: 1.313rem;

  .textArea:focus {
    border: none;
    outline: 3px solid $violet-color1;
  }

  .saveBtn {
    border: 1px solid $white-color1;
    color: $grey-color1;
    font-size: 1rem;
    line-height: 1.172rem;
    padding: 0.563rem 0.813;
  }

  .doneBtn {
    margin: 0 1.375rem;
  }
}
