@import "styles/base.scss";

.textArea {
  border-radius: 0.313rem;
  color: $black-color1;
  font-size: 1rem;
  line-height: 1.172rem;
  line-height: 1.172rem;
  outline: 3px solid $violet-color1;
  padding: 0.25rem 0.5rem;
  width: calc(100% - 1rem);
  width: calc(100% - 1rem);
}

.textArea:focus {
  outline: 3px solid $violet-color1;
}

.btnContainer {
  margin-top: 1.313rem;

  .saveBtn {
    border: 1px solid $white-color1;
    color: $black-color1;
    font-size: 1rem;
    line-height: 1.172rem;
    padding: 0.563rem 0.813;
    padding: 0.563rem 0.813;
  }

  .doneBtn {
    margin: 0 1.375rem;
  }
}
