@import "styles/base.scss";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

.width-full {
  width: 100%;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.border-none {
  border: none;
}

.d-block {
  display: block;
}

.d-none {
  display: none;
}

.home-container {
  width: 80%;
}

.text-line-thorught {
  text-decoration: line-through;
}

.flex {
  display: flex;
}

.justify-between {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.items-center {
  align-items: center;
}

.flex-col {
  flex-direction: column;
}

.grid {
  display: grid;
}

.grid-cols-3 {
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

.card-gap {
  gap: 2.125rem;
}

.fw-700 {
  font-weight: 700;
}

.fw-500 {
  font-weight: 500;
}

.text-white1 {
  color: $white-color1;
}

.text-grey1 {
  color: $grey-color1;
}

.text-grey2 {
  color: $grey-color2;
}

.text-green1 {
  color: $green-color1;
}

.bg-white {
  background-color: $white-color1;
}

.bg-violet2 {
  background-color: $violet-color2;
}
