* {
  margin: 0;
  padding: 0;
}

.width-100 {
  width: 100%;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.border-none {
  border: none;
}

.container {
  width: 80%;
}

.text-line-thorught {
  text-decoration: line-through;
}

.flex {
  display: flex;
}

.justify-between {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.items-center {
  align-items: center;
}

.flex-col {
  flex-direction: column;
}

.grid {
  display: grid;
}

.grid-cols-3 {
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

.gap-34px {
  gap: 2.125rem;
}
