$color-grey-ship: #32394b;
$color-grey-french: #bbbdd0;
$color-blue-hawkes: #dde2ff;
$color-blue-tropical: #d1d8ff;
$color-blue-lavender: #7a8dfd;
$color-green-mint: #0bc375;
$color-white: #ffffff;
$color-white-ghost: #f8f9ff;
$color-red-bean: #e85f5f;

$breakpoint-sm: 640px;
$breakpoint-md: 1024px;
