@import "styles/base.scss";

.loadMoreBtn,
.showLessBtn {
  background-color: $color-grey-ship;
  border-radius: 5px;
  color: $color-white;
  font-size: 1rem;
  height: 2.25rem;
  line-height: 1.172rem;
  margin-bottom: 3.875rem;
  margin-top: 3.563rem;
  width: 7.313rem;
}
