@import "styles/base.scss";

.homeWrapper {
  background-color: $color-white-ghost;
  padding-top: 4rem;

  .heading {
    color: $color-grey-ship;
    font-size: 1.875rem;
    line-height: 2.197rem;
  }

  .actionBarContainer {
    margin-bottom: 2.125rem;
    margin-top: 1.75rem;

    .createTaskBtn {
      background-color: $color-blue-lavender;
      border-radius: 0.313rem;
      color: $color-white;
      font-size: 1rem;
      height: 2.25rem;
      line-height: 1.172rem;
      width: 6.45rem;

      .createTxt {
        margin-left: 0.313rem;
      }
    }

    .createTaskBtn:disabled {
      opacity: 0.5;
    }
  }
}
