.homeWrapper {
  margin-top: 4rem;

  .actionBarContainer {
    margin-top: 1.75rem;
    margin-bottom: 2.125rem;
  }

  .loadMoreButton {
    margin-top: 3.563rem;
    margin-bottom: 3.875rem;
  }
}
